body {
    margin: 0;
    font-family: Ubuntu, PingFang SC, Helvetica Neue, Hiragino Sans GB, Segoe UI, Microsoft YaHei, 微软雅黑, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    color: #006EFF;
    text-decoration: none;
    transition: 0.4s color;
}

a:hover {
    color: #0051ff;
}

.App {
    text-align: center;
}

.App .container {
    max-width: 1080px;
    margin: 0 auto;
}

.App-header {
    padding: 120px 15px;
    color: #FFF;
    background: url(/static/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.App-header h1 {
    font-size: 52px;
    margin-bottom: 30px;
}

.App-header .header-subtitle {
    margin: 10px 0;
    font-size: 24px;
}

.App-header .header-description {
    margin: 0;
    font-size: 16px;
    opacity: 0.85;
}

.App-features {
    padding: 30px 15px;
    background: #F7F8FA;
}

.App-features .container > p {
    color: #888;
}

.App-features .features-list {
    padding: 0;
    list-style: none;
    display: flex;
}

.App-features .features-list .list-item {
    flex: 1 1;
    margin: 15px;
    padding: 30px 15px;
    background: #FFF;
}

.App-features .features-list .list-item img {
    width: 80px;
}

.App-features .features-list .list-item h4 {
    color: #333;
}

.App-features .features-list .list-item p {
    margin: 0;
    color: #888;
}

.App-features .features-list .list-item:hover h4 {
    color: #006EFF;
}

.App-resources {
    padding: 30px 15px;
    background: #FFF;
}

.App-resources .resources-list {
    padding: 0;
    list-style: none;
    display: flex;
}

.App-resources .resources-list .list-item {
    flex: 1 1;
    margin: 10px;
    padding: 15px;
    background: #FFF;
}

.App-resources .resources-list .list-item img {
    width: 100px;
}

.App-resources .resources-list .list-item h4 {
    color: #333;
}

.App-resources .resources-list .list-item p {
    color: #888;
}

.App-resources .resources-list .list-item:hover h4 {
    color: #006EFF;
}

.App-footer {
    padding: 30px 15px;
    padding-bottom: 50px;
    background: #F7F8FA;
}

@media (max-width: 768px) {
    .App-header {
        padding: 50px 15px;
    }

    .App-header h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .App-header p {
        margin: 10px 0;
        font-size: 16px;
    }

    .App-features .features-list {
        display: block;
    }

    .App-resources .resources-list {
        display: block;
    }
}
